#projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
}

.projects-header {
  font-size: 2rem;
  margin-bottom: 50px;
  text-align: center;
}

.projects-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}