.about {
  background-color: #06325e;
  padding: 50px 0;
  opacity: 0.9;
}

.about h2 {
  font-size: 2.5rem;
  margin: 0;
  font-weight: 800;
  background-image: linear-gradient(to right, var(--tw-gradient-stops));

  --tw-gradient-from: #a0c0e6 var(--tw-gradient-from-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
  --tw-gradient-to: #dfb7b7 var(--tw-gradient-to-position);

  -webkit-background-clip: text;
  color: transparent;
}

.about p {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
  margin-bottom: 20px;
  background-image: linear-gradient(to right, var(--tw-gradient-stops));

  --tw-gradient-from: #bbe6db var(--tw-gradient-from-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
  --tw-gradient-to: #e8ecde var(--tw-gradient-to-position);

  -webkit-background-clip: text;
  color: transparent;
  margin-inline: 10%;
  text-align: center;
}

.about-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.skill-card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px #000c;
  height: 350px;
  max-width: 350px;
  min-width: 300px;
  padding: 20px;
  transition: transform 0.3s ease-in-out;
}

.skill-card:hover {
  transform: scale(1.05);
  background-color: #bcc6d0;
}

.skill-card h3 {
  color: #333;
  font-size: 1.5em;
  margin-bottom: 10px;
  text-align: center;
}

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.list li {
  border: 1px solid #06325e;
  border-radius: 10px;
  color: #06325e;
  display: flex;
  font-size: 1.1em;
  margin-bottom: 8px;
  margin-inline: 5px;
  padding: 10px;
  transition: transform 0.3s ease-in-out;
}

.list li:hover {
  border: 1px solid #050b11;
  background-color: #06325e;
  color: #fff;
  transform: scale(1.05);
}
