.about-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 30px;
}

.skill-card {
    background-color: #c7c5c533;
    border-radius: 8px;
    box-shadow: 0 0 10px #000c;
    height: 350px;
    max-width: 350px;
    min-width: 300px;
    padding: 20px;
    transition: transform .3s ease-in-out;
}

.skill-card:hover {
    transform: scale(1.05);
    background-color: bisque;
}

.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    padding: 0;
}

.list li {
    border: 1px solid #b95c5c;
    border-radius: 10px;
    display: flex;
    font-size: 1.1em;
    margin-bottom: 8px;
    margin-inline: 5px;
    padding: 10px;
}