.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  color: #fff;
  z-index: 100;
}

.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  text-align: center;
}

.logo {
  height: 30px;
}

.menu {
  display: flex;
  justify-content: center; /* Align the menu items in the center of the div */
  gap: 20px;
}

.menu a {
  color: #fff;
  text-decoration: none;
  font-size: 1.4rem;
}

.CV a {
  color: #fff;
  text-decoration: none;
  background-color: #033f7f;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1.4rem;
}

.menu a:hover {
  color: #007bff;
}

.CV a:hover {
  background-color: #499ffc;
  color: blanchedalmond;
}

.menu-icon {
  display: none;
}
