.header {
  background-color: #a6a6a6;
  color: #fff;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

.desktop-view {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
}

.logo {
  height: 30px;
}

.nav-menu {
  display: flex;
  gap: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
}

.nav-menu-mob {
  display: none;
}

.nav-menu a {
  color: #033f7f;
  text-decoration: none;
  font-weight: 500;
}

.CV a {
  color: #fff;
  text-decoration: none;
  background-color: #033f7f;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1.4rem;
}

.nav-menu a:hover {
  color: #007bff;
}

.CV a:hover {
  color: #007bff;
  background-color: #fff;
}

.menu-icon {
  display: none;
  font-size: 2rem;
  cursor: pointer;
}

.nav-link {
  margin: 1rem 0;
}

@media (max-width: 768px) {
  .menu-icon {
    display: block;
  }

  .desktop-view {
    display: none;
  }

  .nav-menu-mob {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    text-align: center;
    height: 100vh;
  }

  .nav-menu-mob a {
    color: #333;
  }

  .nav-menu-mob a:hover {
    color: #007bff;
    background-color: #333;
  }
}
