.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #f8f9fa;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.menu {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.menu a {
  text-decoration: none;
  color: #333;
  font-size: 1.5rem;
  font-weight: 700;
}

.menu a:hover {
  color: #007bff;
}

.navBar button {
  font-size: 1.5rem;
  font-weight: 700;
  color: #333;
  background-color: transparent;
  border: 2px solid #333;
  padding: 0.5rem 1rem;
  border-radius: 15px;
}

.navBar button:hover {
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}